.aside {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin: 1.5rem;
  max-width: 350px;
  border-block: 4px solid var(--em-color-border-secondary-light);
  
  /* content */
  &__title {
    margin-block: 0;
    font-size: var(--em-size-text-med);
    font-weight: 600;
  }
  
  &__content {
    font-family: var(--em-font-primary);
    font-size: var(--em-size-text-small);
    line-height: 1.6;
    font-weight: 400;
  }
  
  /* variants */
  &--float-left {
    float: left;
    margin-inline-start: 0;
  }
  
  &--float-right {
    float: right;
    margin-inline-end: 0;
  }
}