/*!
 * Each semantic variable maps to a primitive variable
 * Semantic variables should follow a naming structure of genral-to-specific
 * 1 - Design system name, 2 - the property of the variable, 3 - what the variable applies to (bg, fg, text), 4 - lastly, modifiers
 * Example: --designsystemname-color-text-primary
 * Example: --em-color-border-primary
 *
 */

:root {
  /********* SEMANTICS *********/
  /*** SET THEME COLORS ***/

  /*** Background - Surface - DEFAULT - changes only in dark mode ***/
  --em-color-bg-base: var(--em-color-white);

  /*** Foreground / Text - DEFAULT - changes only in dark mode ***/
  --em-color-fg-base: var(--em-color-black);
  --em-color-fg-subdued: var(--em-color-gray-005);

  /*** Foreground / Text - Base Theme ***/
  --em-color-fg-primary: var(--em-color-blue-020);
  --em-color-fg-primary-medium: var(--em-color-blue-040);
  --em-color-fg-secondary: var(--em-color-cyan-020);

  /*** Backgrounds - Base Theme ***/
  --em-color-bg-primary-dark: var(--em-color-blue-010);
  --em-color-bg-primary: var(--em-color-blue-020);
  --em-color-bg-primary-medium: var(--em-color-blue-040);
  --em-color-bg-primary-light: var(--em-color-blue-080);
  --em-color-bg-primary-lightest: var(--em-color-blue-095);
  --em-color-bg-primary-alpha: var(--em-color-blue-020-a75);

  --em-color-bg-secondary: var(--em-color-cyan-040);
  --em-color-bg-secondary-light: var(--em-color-cyan-080);

  --em-color-bg-tertiary: var(--em-color-yellow-060);
  --em-color-bg-tertiary-light: var(--em-color-yellow-090);

  /*** Backgrounds - Base Theme - Neutral ***/
  --em-color-bg-neutral: var(--em-color-gray-060);
  --em-color-bg-neutral-light: var(--em-color-gray-080);
  --em-color-bg-neutral-lightest: var(--em-color-gray-095);

  /*** Borders - Base Theme ***/
  --em-color-border-primary: var(--em-color-blue-020);
  --em-color-border-primary-light: var(--em-color-blue-060);

  --em-color-border-secondary: var(--em-color-cyan-040);
  --em-color-border-secondary-light: var(--em-color-cyan-070);

  --em-color-border-tertiary: var(--em-color-yellow-060);
  --em-color-border-tertiary-light: var(--em-color-yellow-070);

  /*** Borders - Base Theme - Neutral ***/
  --em-color-border-neutral: var(--em-color-gray-040);
  --em-color-border-neutral-light: var(--em-color-gray-080);

  /*** Form Accents - Base Theme ***/
  --em-color-accent-primary: var(--em-color-cyan-050);

  /*** Actions - Primary Buttons and Inputs - Base Theme ***/
  --em-color-action-primary-default: var(--em-color-cyan-070);
  --em-color-action-primary-hover: var(--em-color-cyan-075);
  --em-color-action-primary-focus: var(--em-color-cyan-075);
  --em-color-action-primary-active: var(--em-color-cyan-085);

  /*** Actions - Secondary Buttons and Inputs - Base Theme ***/
  --em-color-action-secondary-default: var(--em-color-gray-070);
  --em-color-action-secondary-hover: var(--em-color-gray-085);
  --em-color-action-secondary-focus: var(--em-color-gray-085);
  --em-color-action-secondary-active: var(--em-color-gray-090);

  /*** Actions - Link Text ***/
  --em-color-link-default: var(--em-color-blue-030);
  --em-color-link-hover: var(--em-color-cyan-040);
  --em-color-link-focus: var(--em-color-cyan-040);
  --em-color-link-active: var(--em-color-cyan-050);
  --em-color-link-visited: var(--em-color-fg-base);

  /*** Foreground / Text - Links text decoration ***/
  --em-color-link-decoration-01: var(--em-color-border-secondary-light);
  --em-color-link-decoration-02: var(--em-color-border-tertiary);

  /*** Actions - Menu Items ***/
  --em-color-action-nav-fg-default: var(--em-color-blue-020);
  --em-color-action-nav-fg-hover: var(--em-color-blue-040);
  --em-color-action-nav-fg-focus: var(--em-color-blue-040);
  --em-color-action-nav-fg-active: var(--em-color-fg-base);

  --em-color-action-nav-bg-default: var(--em-color-blue-090);
  --em-color-action-nav-bg-hover: var(--em-color-blue-093);
  --em-color-action-nav-bg-focus: var(--em-color-blue-093);
  --em-color-action-nav-bg-active: var(--em-color-blue-097);

  /*** Signifier for active nav items  - Base Theme ***/
  --em-color-active-indicator: var(--em-color-blue-040);
  --em-color-hover-indicator: var(--em-color-cyan-060);

  /*** Focus Indicator - Base Theme ***/
  --em-color-focus-indicator: var(--em-color-yellow-060);

  /*** STATIC does not change with dark mode or other themes ***/
  /*** Foreground / Text - Static ***/
  --em-color-fg-white-static: var(--em-color-white);
  --em-color-fg-black-static: var(--em-color-black);

  /*** Background - Static ***/
  --em-color-bg-white-static: var(--em-color-white);
  --em-color-bg-black-static: var(--em-color-black);

  /********* Badges *********/
  --em-color-badge-cat1: var(--em-color-cyan-080);
  --em-color-badge-cat2: var(--em-color-yellow-080);
  --em-color-badge-cat3: var(--em-color-blue-080);
  --em-color-badge-cat4: var(--em-color-gray-080);

  /********* ALERTS *********/
  /*** Negative ***/
  --em-color-fg-alert-negative: var(--em-color-red-030);
  --em-color-border-alert-negative: var(--em-color-red-040);
  --em-color-bg-alert-negative: var(--em-color-red-080);

  /*** Warning ***/
  --em-color-fg-alert-warning: var(--em-color-orange-040);
  --em-color-border-alert-warning: var(--em-color-orange-060);
  --em-color-bg-alert-warning: var(--em-color-orange-080);

  /*** Positive ***/
  --em-color-fg-alert-positive: var(--em-color-green-020);
  --em-color-border-alert-positive: var(--em-color-green-030);
  --em-color-bg-alert-positive: var(--em-color-green-080);


  .drk-background {
    /*** Foreground / Text - Base Theme ***/
    --em-color-fg-base: var(--em-color-white);
    --em-color-fg-subdued: var(--em-color-gray-095);

    --em-color-fg-primary: var(--em-color-blue-080);
    --em-color-fg-secondary: var(--em-color-cyan-080);

    --em-color-border-primary: var(--em-color-blue-060);
    --em-color-border-primary-light: var(--em-color-blue-080);

    /*** Borders - Base Theme - Neutral ***/
    --em-color-border-neutral: var(--em-color-gray-080);
    --em-color-border-neutral-light: var(--em-color-gray-095);

    /*** Actions - Link Text ***/
    --em-color-link-default: var(--em-color-cyan-080);
    --em-color-link-hover: var(--em-color-cyan-060);
    --em-color-link-focus: var(--em-color-cyan-060);
    --em-color-link-active: var(--em-color-cyan-080);
    --em-color-link-visited: var(--em-color-fg-base);
  }
}
