<span{{ attributes.addClass('badge').addClass(extra_classes|default([])) }}>
    {% if has_icon == true %}
      <span class="badge__icon icon icon--small">
        {# {{ icon }} #}
        {{ source(path ~ '../src/icons/' ~ icon ~ '.svg') }}
      </span>
    {% endif %}
  {{ content }}
</span>
