<div{{ attributes.addClass('header') }}>
  {% block branding %}{{ branding }}{% endblock %}
  {% block button %}{{ menu_toggle }}{% endblock %}
  
  <div class="menu--wrapper" id="main-menu-hider">
    {% block menu %}{{ menu_main }}{% endblock %}
  </div>
</div>
