.header {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--em-color-bg-primary); */
  
  &.region {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /********* Mobile nav - open/close Toggle *********/
  .button--menu-toggle {}
  
  .button--menu-toggle.is-closed {}
  
  .button--menu-toggle.is-open {
    
    .is-open-text,
    .menu-close-icon {
      opacity: 1;
      display: flex;
    }
    
    .is-closed-text,
    .menu-open-icon {
      opacity: 0;
      display: none;
    }
  }
  
  /*** Mobile Responsive Menu Drawer ***/
  /* we don't need the menu toggle on desktop sizes */
  @media (min-width: 993px) {
    & {
      visibility: hidden;
    }
    
    .menu-wrapper {
      overflow: hidden;
    }
    
    .menu-wrapper .menu--main {
      
      &.menu-opened,
      &.menu-closed {
        transform: translateX(0);
      }
    }
  }
  
  @media (max-width: 992px) {
    .button--menu-toggle {
      visibility: visible;
      z-index: 3;
    }
    
    .menu-closed .menu--main {
      transform: translateX(100%);
    }
    
    .menu-wrapper {
      /* position: absolute; */
      width: 100%;
      
      .menu--main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        z-index: 999;
        transition: var(--em-transition-smooth);
        margin-block-start: var(--em-size-mobile-menu-toggle);
      }
      
      .main-menu-content-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* position: absolute; */
        width: 100%;
        z-index: 999;
        transition: var(--em-transition-smooth);
        
        &.menu-opened {
          transform: translateX(0);
        }
        
        &.menu-closed {
          transform: translateX(105%);
        }
      }
      
      .menu--main {
        block-size: auto;
        inline-size: 100%;
        min-inline-size: 100%;
        
        span,
        a {
          white-space: wrap;
        }
      }
      
      .menu--main .menu {
        flex-direction: column;
      }
      
      .menu--main .menu .menu-wrapper {
        position: relative;
        min-height: auto;
        z-index: 1;
        inline-size: 100%;
      }
      
      .menu--main .menu-item--expanded .menu {
        margin-block-start: 0;
      }
    }
  }
}