/*** VARS ***/
@import "vars/vars-colors-primatives.css";
@import "vars/vars-colors-semantics.css";
@import "vars/vars-fonts.css";
@import "vars/vars-shadows.css";
@import "vars/vars-spacing.css";
@import "vars/vars-transitions-animations.css";

/*** For putting CSS that hasn't been built into components yet ***/
/*** RESETS ***/
html {
  scroll-behavior: smooth;
  accent-color: var(--em-color-action-primary-default);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--em-color-bg-base);
  
  color: var(--em-color-fg-base);
  font-display: swap;
  font-family: var(--em-font-primary);
}

@viewport {
  width: device-width;
}

*,
div {
  box-sizing: border-box;
}

/* ensure footer does not cover main content */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}