.title {
  color: var(--em-color-fg-base);
  font-family: var(--em-font-serif);
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: var(--em-size-charlimit-lg);
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}