.branding {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--em-color-bg-primary);
  
  &__row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--em-container-width);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .block-system-branding-block {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    min-width: 0;
  }
  
  &__logo {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
    width: 100px;
    min-width: 100px;
    padding-block: 0.5rem;
    
    .site-logo {
      position: relative;
      width: 100%;
    }
  }
  
  &__site-name-slogan {
    position: relative;
    
    width: auto;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  
  &__site-slogan {
    text-decoration: none;
    
    font-size: 1.3rem;
    font-weight: 400;
    
    font-family: var(--em-font-serif);
    font-style: normal;
    font-optical-sizing: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    text-align: left;
    width: 100%;
    
    color: var(--em-color-fg-white-static);
  }
  
  &__site-name {
    
    /* Site name text */
    a {
      text-decoration: none;
      
      font-size: 2.4rem;
      line-height: 1;
      font-weight: 600;
      
      font-family: var(--em-font-secondary);
      font-style: normal;
      font-optical-sizing: auto;
      
      text-align: left;
      width: 100%;
      
      color: var(--em-color-fg-white-static);
    }
  }
  
  
  @media (max-width: 992px) {
    & {
      
      .branding__row {
        /* display: flex; */
        /* flex-direction: column;
        flex-wrap: nowrap; */
        /* align-items: flex-start; */
        /* justify-content: flex-start; */
        /* gap: 0;
        margin-left: 0;
        max-width: calc(100% - var(--em-size-mobile-menu-toggle) - var(--em-size-inner-horiz-component));
        flex: 0 0 calc(100% - var(--em-size-mobile-menu-toggle) - var(--em-size-inner-horiz-component)); */
      }
      
      .branding__logo {
        flex: 0 0 25%;
        max-width: 4.5rem;
        min-width: 4.5rem;
      }
      
      .branding__site-name-slogan {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
      }
      
      &__site-name {
        
        /* Site name text */
        a {
          max-width: 100%;
          font-size: 2rem;
          line-height: 1;
          
          text-wrap: wrap;
          overflow-wrap: break-word;
        }
      }
    }
  }
  
  
  @media (max-width: 768px) {
    & {
      
      .branding__row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        margin-left: 0;
        max-width: calc(100% - var(--em-size-mobile-menu-toggle) - var(--em-size-inner-horiz-component));
        flex: 0 0 calc(100% - var(--em-size-mobile-menu-toggle) - var(--em-size-inner-horiz-component));
      }
      
      .branding__site-name-slogan {
        justify-content: flex-start;
      }
    }
  }
  
  
  @media (max-width: 576px) {
    .branding__logo {
      max-width: 3.5rem;
      min-width: 3.5rem;
    }
    
    &__site-name {
      
      /* Site name text */
      a {
        font-size: 1.4rem;
      }
    }
  }
}